* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.swal2-popup {
  font-size: 12px !important;
}

.swal2-styled {
  padding: 10px 32px 10px 32px !important;
  margin: 20px 10px 0px 10px !important;
  width: 170px;
  height: 45px;
}
